apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: n8n
  namespace: n8n
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - app-n8n.129-213-28-76.sslip.io  # <--- MUDAR AQUI
      secretName: n8n-tls-new             # <--- Mudei o nome do secret só pra garantir que ele crie um novo
  rules:
    - host: app-n8n.129-213-28-76.sslip.io # <--- MUDAR AQUI TAMBÉM
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: n8n
                port:
                  number: 5678
