apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n-workers
spec:
  replicas: 3
  selector:
    matchLabels:
      app: n8n
      role: worker
  template:
    metadata:
      labels:
        app: n8n
        role: worker
    spec:
      enableServiceLinks: false
      containers:
        - name: n8n-worker
          image: n8nio/n8n:latest
          command: ["n8n", "worker"]
          envFrom:
            - secretRef:
                name: n8n-secrets
          env:
            - name: N8N_PORT
              value: "5678"
            - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
              value: "true"
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
